{{>partials/header}}

<h2> digite seu email ? </h2>

<form method="POST" action="email-resultado">

    <input type="email" name="email" placeholder="digite seu email:">
    <input type="password" name="senha" placeholder="digite sua senha:">



    <input type="submit" value="Enviar" />

</form>



{{>partials/header}}