{{>partials/header}}

    <h2> Qual seu nome ?  </h2>
    <form method="GET">
    <input type="text" name="nome" placeholder="Digite seu nome ">
    <h2> Qual sua idade ?  </h2>
    <input type="text" name="idade" placeholder="Digite sua idade ">
    <h2> Qual seu telefone ?  </h2>
    <input type="text" name="telefone" placeholder="Digite seu telefone ">
    <button type="submit">"Enviar"></button>
    </form>

    

{{>partials/header}}

