{{>partials/header}}

    <header>   
            <h1> Aqui é meu titulo </h1>
        <header>


        <section>

            <P> opa {{nome}} Seja bem vindo </p>

            {{#exibirBoasVindas}}
                voce é maior de idade
            {{/exibirBoasVindas}}


            {{#movies}}
                <ul>
                    <li> {{title}} - {{year}} </li>
                </ul>
            {{/movies}}

        <section>
    
    
</body>
</html>