{{>partials/header}}

    <h1> Qual seu nome ?  </h1>
    <form method="GET">
    <input type="text" name="nome" placeholder="Digite seu nome ">
    <button type="submit">"Enviar"></button>
    </form>

    Opa, {{nome}} tudo bem?

    {{nome}}


{{>partials/header}}